@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,100&family=Poppins:wght@100;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: "Poppins";
    outline: none;
}

body{
    background-color: #0D1F2D;
    width: 100vw;
    height: 100vh;
    position: relative;
}

body.mudar-senha{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.separador{
    width: 2px;
    background-color: #767676;
    height: 70%;
}

/* ------------------------FORMULÁRIO------------------------- */

.form{
    height: 70%;
    width: 30vw;
    margin: 0 auto;
}

.form h2{
    text-align: center;
    color: white;
    font-size: 2rem;
    margin-bottom: 30px;
}

.form form{
    width: 100%;
    margin: 0 auto;
}

/* Campos e labels */

.form form .campos.input{
    position: relative;
    margin-bottom: 10%;
    width: 100%;
    height: 40px;
}
.form form .campos.text{
    position: relative;
    margin: 10% 0;
    width: 100%;
    height: 100px;
}

.form form .labels{
    position: absolute;
    color: #767676;
    opacity: .56;
    font-size: 1.1rem;
    transition: .4s all ease-in-out;
}
.form form .labelInput{
    bottom: 4px;
    left: 3px;
}
.form form .labelText{
    top: 4px;
    left: 5px;
}

.form form .inputs, .form form textarea{
    padding: 5px;
    position: absolute;
    background: none;
    color: #ffffff;
    font-size: 1.1rem;
    width: 100%;
}

.form form .inputs{
    border-bottom: 2px solid #76767681;
    height: 40px;
    bottom: 0;
    left: 0;
}

.form form textarea{
    border: 1px solid #b1b1b181;
    border-bottom: 2px solid #76767681;
    height: 100px;
    left: 0;
    top: 0;
}

.form form .campos.check h4{
    color: white;
    margin: .5rem 0;
}

.form form .campos.check .labelCheck{
    padding: .5rem;
    color: #767676;
}
.form form .campos.check .campos.input{
    margin: 3rem 0;
}


/* Botões */

.form form button{
    background-color: #04A777;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
}


/* MENSAGENS DE ERRO E DE SUCESSO */

.form form .erro{
    background-color: #d41e1eec;
    margin: 20px 0;
    padding: 5px;
    border: 2px solid #ffffff4f;
    border-radius: 5px;
    color: white;
    text-align: center;
}
.form form .msg{
    background-color: #00b90f8c;
    margin: 20px 0;
    padding: 5px;
    border: 2px solid #aec0b24f;
    border-radius: 5px;
    color: white;
    text-align: center;
}
/*-----------------------MENU---------------------- */

.menu{
    background-color: #0D1F2D;
    padding: 20px;
    border-radius: 10px;
    width: auto;
    position: fixed;
    margin-right: 6rem;
    right: 0;
    z-index: 20;
    text-transform: uppercase;
}

.menu ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.menu ul .li{
    position: relative;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul .li-pri a{
    padding: 15px 10px;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: "Poppins";
    transition: .1s all ease-in-out;
    border-radius: 2px;
    color: white;
}

.menu ul .li::after{
    content: "";
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #2E688C;
    transition: .2s all ease-in-out;
}

.menu ul .li:hover::after{
    width: 40%;
}

.menu ul .li::before{
    content: "";
    position: absolute;
    z-index: 2;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: white;
    transition: .4s all ease-in-out;
}

.menu ul .li:hover::before{
    width: 40%;
}

/* --------------------TABELA-----------------------*/

.tabela{
    background-color: #c3c3c3;
    height: 200px;
    width: 70%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}