@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,100&family=Poppins:wght@100;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: "Poppins";
    outline: none;
}

body{
    background-color: #0D1F2D;
    width: 100vw;
    height: 100vh;
    position: relative;
    font-size: 62.5%;
}

h2{
    text-align: center;
    color: white;
    font-size: 2rem;
    margin-bottom: 30px;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70vw;
}

/* ------------------------FORMULÁRIO------------------------- */

.form{
    margin: 0 auto;
    height: 100%;
}



.form form{
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 75%;
}

.form form .sep{
    width: 40%;
    height: 100%;
}
.form form .linha{
    height: 250px;
    width: 2px;
    background-color: #767676;
    opacity: .56;
}

/* Campos e labels */

.form form .campos.input{
    position: relative;
    width: 100%;
    height: 40px;
    margin: 10% 0;
}
.form form .campos.text{
    position: relative;
    width: 100%;
    height: 100px;
    margin: 10% 0;
}

.form form .labels{
    position: absolute;
    color: #767676;
    opacity: .56;
    font-size: 1rem;
    transition: .4s all ease-in-out;
}
.form form .labelInput{
    bottom: 4px;
    left: 3px;
}
.form form .labelText{
    top: 4px;
    left: 5px;
}

.form form .inputs, .form form textarea{
    padding: 5px;
    position: absolute;
    background: none;
    color: #ffffff;
    font-size: 1rem;
    width: 100%;
}

.form form .inputs{
    border-bottom: 2px solid #76767681;
    height: 40px;
    bottom: 0;
    left: 0;
}

.form form textarea{
    border: 1px solid #b1b1b181;
    border-bottom: 2px solid #76767681;
    height: 100px;
    left: 0;
    top: 0;
}

.form form .campos.check h4{
    color: white;
    margin: .5rem 0;
    font-size: 1rem;
}

.form form .campos.check .labelCheck{
    padding: 0 .5rem;
    color: #767676;
    font-size: .9rem;
}
.form form .campos.check .campos.input{
    margin: 10% 0;
}


/* Botões */

.form form button{
    background-color: #04A777;
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
}


/* MENSAGENS DE ERRO E DE SUCESSO */

.erro, .msg{
    margin: 20px auto;
    width: 51%;
    padding: 5px;
    border: 2px solid #ffffff4f;
    border-radius: 5px;
    color: white;
    text-align: center;
    font-size: 1rem;

}
.erro{
    background-color: #d41e1eec;
}
.msg{
    background-color: #00b90f8c;
}
/* -----------------------MENU---------------------- */

.menu{
    background-color: #0D1F2D;
    padding: 20px;
    border-radius: 10px;
    width: auto;
    position: fixed;
    margin-right: 6rem;
    right: 0;
    z-index: 20;
    text-transform: uppercase;
}

.menu ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.menu ul .li{
    position: relative;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul .li-pri a{
    padding: 15px 10px;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: "Poppins";
    transition: .1s all ease-in-out;
    border-radius: 2px;
    color: white;
}

.menu ul .li::after{
    content: "";
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #2E688C;
    transition: .2s all ease-in-out;
}

.menu ul .li:hover::after{
    width: 40%;
}

.menu ul .li::before{
    content: "";
    position: absolute;
    z-index: 2;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: white;
    transition: .4s all ease-in-out;
}

.menu ul .li:hover::before{
    width: 40%;
}

/* --------------------TABELA----------------------- */

h2{
    color: white;
}

.tabela{
    background-color: #c3c3c3;
}

.tabela a{
    padding: 0 10px;
}